/* Header 1 Styles */
h1 {
  background-color: DarkSeaGreen;
  padding: 40px;
  text-align: center;
  font-size: 30px;
}

/* Section containing left nav bar styles */
section{
  float: left;
  width: 30%;
  height: 100%;
  background-color: thistle;
}

/* Navigation Bar Styles */
/* Here I have styled my list so there is no bullet points, and the changed the background colour to thistle */
/* margins and padding are set to 0 to remove browser default settings */
ul {
  list-style-type: none;
  margin: 0;
  margin: 0;
  width: 200px; 
  height: 100%;
  background-color: thistle;
}
/*  I have styled my list items so users can select a block around the text to click the link not just the text */
/* I have styled my list items to be COLOUR with a padding of 8x 16x */
/* I have styled list items with no text-decoration */
li a {
  display: block; 
  padding: 8px 16px;
  text-decoration: none;
}
/* styled nav bar items to highlight in grey when mouse hovers over top, and text turns white when mouse hover over item */
li a:hover {
  background-color: #555;
  color: white;
}
nav {
  float: left;
  width: 30%;
  height: 100%;
}

/* Arcticle (main text)Styles */
/* float pushes block element to the right */
/* width makes the article block element to 70% of the screen */
/* background colour set to neutral light colour */
article {
  float: right; 
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1; 
}


/* Style the research experience list class .r */
ul.r {
  list-style-type: square;
  margin: 0;
  margin: 0;
  width: 200px; 
  height: 100%;
  }


/* Style certificates list class .c */
ul.c {
  list-style-type: square;
  margin: 0;
  margin: 0;
  width: 200px; 
  height: 100%;
  }
/* Style Paragraphs <p> */

/* Style Images */
img {
  width: 1088px;
  height: 816px;
}
