/* Header 1 Styles */
h1 {
  background-color: LightSeaGreen;
  padding: 40px;
  text-align: center;
  font-size: 30px;
}

/* Navigation Bar Styles */
/* Here I have styled my list so there is no bullet points, and the changed the background colour to thistle */
/* margins and padding are set to 0 to remove browser default settings */
ul {
  list-style-type: none;
  margin: 0;
  margin: 0;
  width: 200px; 
  background-color: thistle;
}
/*  I have styled my list items so users can select a block around the text to click the link not just the text */
/* I have styled my list items to be COLOUR with a padding of 8x 16x */
/* I have styled list items with no text-decoration */
li a {
  display: block; 
  color: green; 
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
  color: white;
}

/* Arcticle (main text)Styles */
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px;
}
