/* -------------- CSS Styles Sheet ------------------ */
/* Author: Gabby Riefesel */
/* Date Created: October 16, 2021 */
/* Date of Last Edit: October 21, 2021 */

/* -------------- Header Styles ------------------ */
/* I have chosen 'darkseagree' as my bacground colour */
/* Centred text to middle of webpage */
/* Set text to font size of 30px */
/* This header is styled the same across the entire website so layout stays consistent */
h1 {
  background-color: DarkSeaGreen;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 100%;
}

h3.profile{
  float: none;
  text: bold;
}
  

h2.profile{
  float: center;
  padding: 5px;
}

p.profile{
  float: none;
}


/* ----------- Navigation Bar Styles -------------- */
/* Here I have styled my list so there is no bullet points, and the changed the background colour to thistle */
/* margins and padding are set to 0 to remove browser default settings */
/* */
ul {
  list-style-type: none;
  margin: 0;
  width: 100%; 
  height: 15%; 
  background-color: thistle;
 }
/*  I have styled my list items so users can select a block around the text to click the link not just the text */
/* I have styled my list items to be colour and padding */
/* list items for the nav bar, external links, and content have been styled in different ways by using classes */
/* Source: https://www.w3schools.com/html/html_links_colors.asp, https://www.w3schools.com/colors/colors_picker.asp, https://www.w3schools.com/html/html_colors.asp and, https://www.w3schools.com/html/html_links_colors.asp*/
li{
  float: none;
}
li a {
  display: block; 
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
/* styled nav bar items to highlight in grey when mouse hovers over top, and text turns white when mouse hover over item */
li a:hover {
  background-color: #555;
  color: white;
}
/* Style list items for external links in education */
ul.lab {
  list-style-type: square;
  margin: 0;
  margin: 0;
  width: 75%; 
  height: 100%;
  background-color: #f1f1f1;
  }
/* Style  for list items in class .lab for education */
li a.lab {
  display: block; 
  text-align: left;
  padding: 8px 8px;
  text-decoration: underline;
}
li a.lab:hover {
  background-color: DarkSeaGreen;
  color: white;
}


/* -------------- Arcticle (main text)Styles-------------------- */
/* float pushes block element to the right */
/* margin left shift article over to cover 75% of the page on the right */
/* background colour set to neutral light colour */
/* source: https://www.w3schools.com/html/html_layout.asp */

article {
  width: 75%;
  padding: 5px 20px;
  background-color: #f1f1f1;
}

/*--Style certificates list class .c for research postion bullet points--*/
ul.c {
  list-style-type: square;
  margin: 0;
  margin: 0;
  width: 50%; 
  height: 100%;
  background-color: #f1f1f1;
  }
/* Style  for list items in class .c for research */
li.c{
}


/* Style Images */
/* make images smaller by pixels to preserve aspect of .jpg */
img {
  width: 718px;
  height: 538px;
}
/* Style Profile Page Image.profile */
/* float profile image to left of container so left of text, and make images smaller by pixels to preserve aspect of .jpg */
img.profile {
  float: left;
  width: 359px;
  height: 269px;
  margin: 15px;
}
img.education{
  width: 1091px;
  height: 726px;
}
  
